# 1. Library Import

In [1]:
import pandas as pd

# 2. DATA Loading

In [6]:
# 필요한 데이터를 load 하겠습니다. 경로는 환경에 맞게 지정해주면 됩니다.
data2007 = '../data/real_transaction/아파트(매매)__실거래가_20071231.csv'
data2008  = '../data/real_transaction/아파트(매매)__실거래가_20081231.csv'
data2009 = '../data/real_transaction/아파트(매매)__실거래가_20091231.csv'
data2010  = '../data/real_transaction/아파트(매매)__실거래가_20101231.csv'
data2011 = '../data/real_transaction/아파트(매매)__실거래가_20111231.csv'
data2012  = '../data/real_transaction/아파트(매매)__실거래가_20121231.csv'
data2013 = '../data/real_transaction/아파트(매매)__실거래가_20131231.csv'
data2014  = '../data/real_transaction/아파트(매매)__실거래가_20141231.csv'
data2015 = '../data/real_transaction/아파트(매매)__실거래가_20151231.csv'
data2016  = '../data/real_transaction/아파트(매매)__실거래가_20161231.csv'
data2017 = '../data/real_transaction/아파트(매매)__실거래가_20171231.csv'
data2018  = '../data/real_transaction/아파트(매매)__실거래가_20181231.csv'
data2019 = '../data/real_transaction/아파트(매매)__실거래가_20191231.csv'
data2020  = '../data/real_transaction/아파트(매매)__실거래가_20201231.csv'
data2021 = '../data/real_transaction/아파트(매매)__실거래가_20211231.csv'
data2022  = '../data/real_transaction/아파트(매매)__실거래가_20221231.csv'
data2023  = '../data/real_transaction/아파트(매매)__실거래가_20230930.csv'

d2007 = pd.read_csv(data2007,encoding='cp949')
d2008 = pd.read_csv(data2008,encoding='cp949')
d2009 = pd.read_csv(data2009,encoding='cp949')
d2010 = pd.read_csv(data2010,encoding='cp949')
d2011 = pd.read_csv(data2011,encoding='cp949')
d2012 = pd.read_csv(data2012,encoding='cp949')
d2013 = pd.read_csv(data2013,encoding='cp949')
d2014 = pd.read_csv(data2014,encoding='cp949')
d2015 = pd.read_csv(data2015,encoding='cp949')
d2016 = pd.read_csv(data2016,encoding='cp949')
d2017 = pd.read_csv(data2017,encoding='cp949')
d2018 = pd.read_csv(data2018,encoding='cp949')
d2019 = pd.read_csv(data2019,encoding='cp949')
d2020 = pd.read_csv(data2020,encoding='cp949')
d2021 = pd.read_csv(data2021,encoding='cp949')
d2022 = pd.read_csv(data2022,encoding='cp949')
d2023 = pd.read_csv(data2023,encoding='cp949')

# Assuming all DataFrames have the same columns
dfs = [d2007, d2008, d2009, d2010, d2011, d2012, d2013, d2014, d2015, d2016, d2017, d2018, d2019, d2020, d2021, d2022, d2023]

# Concatenate DataFrames vertically
merged_df = pd.concat(dfs, ignore_index=True)

In [7]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1146131 entries, 0 to 1146130
Data columns (total 16 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   시군구       1146131 non-null  object
 1   번지        1146052 non-null  object
 2   본번        1146052 non-null  float64
 3   부번        1146052 non-null  float64
 4   단지명       1146131 non-null  object
 5   전용면적(㎡)   1146131 non-null  float64
 6   계약년월      1146131 non-null  int64
 7   계약일       1146131 non-null  int64
 8   거래금액(만원)  1146131 non-null  object
 9   층         1146131 non-null  int64
 10  건축년도      1146131 non-null  int64
 11  도로명       1146131 non-null  object
 12  해제사유발생일   6553 non-null     float64
 13  등기신청일자    1146131 non-null  object
 14  거래유형      1146131 non-null  object
 15  중개사소재지    1146131 non-null  object
dtypes: float64(4), int64(4), object(8)
memory usage: 139.9+ MB

# 3. Save

In [8]:
merged_df.to_csv('../data/real_transaction/sum_real_trans.csv', index=False)